<button type="button" class="btn btn-primary mb-2" (click)="backToFlats()"> Back </button>
<div>
    <h2 *ngIf="!flat || flat.id === undefined">Add </h2>
    <h2 *ngIf="flat && flat.id !== undefined">Update </h2>
    <form>
      <div class="form-group">
        <input name="id" type="number" id="id-input" [(ngModel)]="flat.id" class="form-control" value=null [hidden]='true' />
      </div>
      <div class="form-group">
        <label for="num-input">Flat number:</label>
        <input name="num" type="number" id="num-input" [(ngModel)]="flat.num" class="form-control" />
      </div>
      <div class="form-group">
        <label for="floor-input">Flat floor:</label>
        <input name="floor" type="number" id="floor-input" [(ngModel)]="flat.floor" class="form-control" />
      </div>
      <div class="form-group">
        <label for="roomsCount-input">Rooms count:</label>
        <input name="roomsCount" type="number" id="roomsCount-input" [(ngModel)]="flat.roomsCount" class="form-control" />
      </div>
      <div class="form-group">
        <label for="tenantsCount-input">Tenants count:</label>
        <input name="tenantsCount" type="number" id="tenantsCount-input" [(ngModel)]="flat.tenantsCount" class="form-control" />
      </div>
      <div class="form-group">
        <label for="totalArea-input">Total area:</label>
        <input name="totalArea" type="number" id="totalArea-input" [(ngModel)]="flat.totalArea" class="form-control" />
      </div>
      <div class="form-group">
        <label for="livingArea-input">Living area:</label>
        <input name="livingArea" type="number" id="livingArea-input" [(ngModel)]="flat.livingArea" class="form-control" />
      </div>
      <!-- <div class="form-group">
        <label for="houseId-input">HouseId:</label>
        <input name="houseId" type="number" id="houseId-input" [(ngModel)]="flat.houseId" class="form-control" />
      </div> -->
      <button type="button" class="btn btn-primary" (click)="addUpdateFlats()">Save</button>
      

    </form>
  </div>

