<!-- <!doctype html>
<head>
  <meta charset="utf-8">
  <base href="/">
  </head>
  <body>
<h1>{{title}}</h1> --->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav navbar-nav">
        <a class="navbar-brand" routerLinkActive="active" routerLink="list"> List </a>
        <a class="navbar-brand" routerLinkActive="active" routerLink="create"> Create</a>
    </ul>
  </nav> <p> </p>
  <router-outlet></router-outlet>
  <!-- <div class="row">
      <div class="col-md-2">
        <app-add-update-tenants (tenantCreated)="createUpdateTenant($event)" [tenant]="currentTenant"></app-add-update-tenants>
      </div>
        <div class="col-md-10">
          <app-tenants [tenant]="tenants" (editClicked)="editTenant($event)" (newClicked)="newTenant($event)" (recordDeleted)="deleteTenant($event)"></app-tenants>
        </div>       
  </div>  -->
</div>
<!-- 
<div>
</div>
</body> -->